[user]
	email = hobocta@gmail.com
	name = Антон Кондратов
[alias]
	co = checkout
	ci = commit
	st = status
	stu = status -uno
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lr = log --oneline --left-right
[core]
	; for linux:
	;autocrlf = input
	; for windows:
	autocrlf = true
	safecrlf = warn
	sharedRepository = true
	filemode = false
	pager = less -S -x1,5
	quotepath = false
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = !'C:\\Users\\Anton\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[winUpdater]
	recentlySeenVersion = 2.17.0.windows.1
[http]
	postBuffer = 1000000000
