/.android/
/.AndroidStudio3.0/
/.AndroidStudio3.2/
/.atom/
/.bash_history
/.bundle/
/.cache/
/.cisco/vpn/log/
/.config/
/.dbshell
/.docker/
/.drush/
/.ebookreader/
/.emulator_console_auth_token
/.erlang.cookie
/.FBReader/
/.fontconfig/
/.gem/
/.git-credentials
/.git-for-windows-updater
/.gnupg/
/.gradle/
/.idea/
/.ipynb_checkpoints
/.ipython/
/.jupyter/
/.matplotlib/
/.minttyrc
/.mongorc.js
/.node-gyp/
/.node_repl_history
/.nx/
/.oracle_jre_usage/
/.pdepend/
/.PhpStorm*
/.PyCharm*
/.soapui/
/.soapuios/
/.ssh/
/.symfony/
/.v8flags.*
/.vagrant.d/
/.viminfo
/.VirtualBox/
/.vscode/
/.WebIde*
/.yarn/
/.yarnrc
/3D Objects/
/_viminfo
/AndroidStudioProjects/
/AppData/
/Application Data/
/Contacts/
/Cookies/
/Creative Cloud Files/
/default-soapui-workspace.xml
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Google Диск/
/hg-prompt/prompt.pyo
/Intel/
/IntelGraphicsProfiles/
/Links/
/Local Settings/
/MicrosoftEdgeBackups/
/Music/
/My Documents/
/NetHood/
/ntuser*
/NTUSER.*
/OneDrive/
/OpenVPN/
/PhpstormProjects/
/Pictures/
/PrintHood/
/Recent/
/Saved Games/
/Searches/
/SendTo/
/soapui-settings.xml
/Start Menu/
/Sync/
/tempLoadUI/
/tmp/
/Tracing/
/Videos/
/VirtualBox VMs/
/YandexDisk/
/Главное меню/
/главное меню/
/Мои документы/
/Шаблоны/