[user]
	email = hobocta@gmail.com
	name = Антон Кондратов
[alias]
	co = checkout
	ci = commit
	st = status
	stu = status -uno
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	lr = log --oneline --left-right
[color]
	ui = auto
[core]
	; for linux:
	;autocrlf = input
	; for windows:
	autocrlf = true
	safecrlf = warn
	sharedRepository = true
	filemode = false
	pager = less -S -x1,5
	quotepath = false
[push]
	default = simple
[credential]
	helper = store
[winUpdater]
	recentlySeenVersion = 2.24.0.windows.2
[http]
	postBuffer = 1000000000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
