/AppData/
/Application Data/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Intel/
/IntelGraphicsProfiles/
/Links/
/Local Settings/
/Music/
/ntuser*
/NTUSER.*
/Pictures/
/Recent/
/Saved Games/
/Searches/
/SendTo/
/Sync/
/Tracing/
/Videos/
/YandexDisk/
/Главное меню/
/Мои документы/
/.bash_history
/.config/
/.erlang.cookie
/.minttyrc
/.ssh/
/.v8flags.*
/.viminfo
/.WebIde90/restart/
/.WebIde90/system/
/.WebIde90/config/*
!/.WebIde90/config/colors/
!/.WebIde90/config/codestyles/
!/.WebIde90/config/fileTemplates/
!/.WebIde90/config/inspection/
!/.WebIde90/config/keymaps/
!/.WebIde90/config/options/
/.WebIde90/config/options/availables.xml
/.WebIde90/config/options/baseRefactoring.xml
/.WebIde90/config/options/dimensions.xml
/.WebIde90/config/options/feature.usage.statistics.xml
/.WebIde90/config/options/find.recents.xml
/.WebIde90/config/options/find.xml
/.WebIde90/config/options/options.xml
/.WebIde90/config/options/other.xml
/.WebIde90/config/options/php.xml
/.WebIde90/config/options/recentProjectDirectories.xml
/.WebIde90/config/options/runner.layout.xml
/.WebIde90/config/options/statistics.application.usages.xml
/.WebIde90/config/options/usageView.xml
/.WebIde90/config/options/webServers.xml
/.WebIde90/config/options/window.manager.xml
/.WebIde90/config/options/security.xml
!/.WebIde90/config/plugins/
/.WebIde90/config/plugins/availables.xml
!/.WebIde90/config/templates/
/.fontconfig/
/.oracle_jre_usage/
/.PhpStorm2016.1/
/_viminfo
/.PyCharm2016.2/system/
/.PyCharm2016.2/config/port*
/.PyCharm2016.2/config/disabled_plugins.txt
/.PyCharm2016.2/config/tasks/
/.PyCharm2016.2/config/plugins/
/.PyCharm2016.2/config/options/
/.PyCharm2016.2/config/inspection/
/.idea/
