/AppData/
/Application Data/
/Contacts/
/Cookies/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Intel/
/IntelGraphicsProfiles/
/Links/
/Local Settings/
/Music/
/ntuser*
/NTUSER.*
/OneDrive/
/Pictures/
/Recent/
/Saved Games/
/Searches/
/SendTo/
/Sync/
/Tracing/
/Videos/
/YandexDisk/
/Главное меню/
/Мои документы/
/.bash_history
/.config/
/.erlang.cookie
/.minttyrc
/.ssh/
/.v8flags.*
/.viminfo
/.fontconfig/
/.oracle_jre_usage/
/_viminfo
/.VirtualBox/
/.idea/
/.WebIde*
/.PyCharm*
/.PhpStorm*
/.pdepend/
/.soapui/
/default-soapui-workspace.xml
/soapui-settings.xml
/tempLoadUI/
/.atom/
/.dbshell
/.mongorc.js
